*{
  box-sizing: border-box;
}

.ml-a{
  margin-left: auto;
}

.hide{
  display: none !important;
}
.flex{
  display: flex!important;
}

.em{
  color: var(--primary);
  font-size: 1.3em;
  font-family: var(--bold);
}

.overflow{
  overflow: hidden;
}

h1, h2, h3, h4{
  font-family: var(--bold);
}

.container-title{
  margin-bottom: 2em;
  font-size: 28px;
}

.button{
    border: 1px solid;
  font-family: var(--condensed-regular);
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  padding: 12px 30px;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;

@include transition;


  &.primaryBtn{
    background-color: var(--primary);
    color: #fff;
    border: none;

    &:hover{
      background-color:var(--lighter);
    }
  }

  &.link-btn{
      border: none;
      padding: 0;
      margin: 0 20px;

      &:hover, &:focus{
        background-color: transparent;
        color: var(--primary);
      }
  }

  &:hover, &:focus{
    background-color: var(--primary);
    // color: #222;
    border-color: var(--primary);
  }

} // button


.assetBtn{
  @extend .button;

  background-color: var(--primary) !important;
  display: inline-block;
  color: #fff;
  border: none;
  text-decoration:none;

  &:hover, &:active, &:focus{
    background-color: var(--lighter) !important;
    color: #fff;
  }

}




.divider{
  display: block;
  height: 3px;
  width: 200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

a.link{
  text-decoration: underline;
  // font-style: italic;
  font-weight: bold;
  // color: var(--primary);
}

//back to top button
.back-to-top {
background: none;
display: none;
margin: 0;
position: fixed;
bottom: 250px;
right: 23px;
width: 35px;
height: 35px;
z-index: 100;
text-decoration: none;
color: #fff;
opacity: .5;
 background-color: rgba(9, 9, 9, 0.6);
 border-radius: 60px;
-ms-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-webkit-transition: all .3s ease-out;
transition: all .3s ease-out;
  i{
      font-size: 38px;
      position: relative;
      left: -1.5px;
      top: -1.5px;
  }

  &:hover{
    opacity: 1;
  }
}
